.card-margin{
    margin-bottom: 1rem;
}


.payment-width{
    width: 40rem;
    
}

.payment-header{
    background-color:#F5F5F5;    
    text-align: center;
    font-size: larger;
    font-weight: 500;
}